<h1>Register Here.</h1>

<style>
    h5 {
        color: red;
    }
</style>


{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <p>Username: </p>
    <input type="text" name="username" required />
    <p>Email: </p>
    <input type="email" name="email" required />
    <p>Password: </p>
    <input type="password" name="password" required />
    <p>Confirm Password: </p>
    <input type="password" name="confirmPassword" required />

    <button type="submit">Register</button>
</form>