{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <p>Hello World</p>

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Special Skill</th>
            <th>Email</th>
        </tr>
        {% for x in skillers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.special_skill }}</td>
            <td>{{ x.email }}</td>
        </tr>
        {% endfor %}
    </table>

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Special Skill</th>
            <th>Email</th>
        </tr>
        {% for x in skillers %}
        {% if x.special_skill == "Web Developing" %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.special_skill }}</td>
            <td>{{ x.email }}</td>
        </tr>

        {% endif %}
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}

</div>
{% endblock %}