{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static '/headerStyle.css' %}">

<div class="headerContainer">

    <div class="logoContainer">
        <h1 class="logo"><a href="/">Little Pineapple</a></h1>
    </div>

    <div class="menuContainer">
        <p>Home</p>
        <a href="/about">
            <p>About</p>
        </a>
        <p>Log In</p>
        <p class="registerButton">Register Now</p>
    </div>

</div>
